.card {
    margin-left: 9vw;
    display: inline-flex;
    padding-bottom: 20px;
    .recipe {
        border-radius: 5px;
        box-shadow: 0 5px 15px var(--shadow-color);
        background-color: var(--background-color);
    }
    .img > img {
        height: 18vh;
        width: 18vw;
    }
    .chef {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -30px;
        margin-left: 15px;
        
    }
    .lorem {
        color: var(--text-light);
        padding: 10px;
        width: 18vw;
    }
    .name {
        padding-top: 10px;
        color: var(--text-color);
        padding: 10px;
        width: 18vw;
    }
    .view {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        display: inline-block;
        padding-bottom: 15px;
        width: 18vw;
    }
}
@media screen and (max-width: 807px) {
    .card {
        padding: 15px;
        margin-right: 30px;
        .recipe {
            .img > img {
                height: 25vh;
                width: 30vw;
            }
        }
        .lorem {
            padding: 10px;
            width: 30vw;
        }
        .name {
            padding-top: 10px;
            color: var(--text-color);
            padding: 10px;
            width: 30vw;
        }
        .view {
            color: var(--primary-color);
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
            display: inline-block;
            padding-bottom: 15px;
            width: 30vw;
        }
    }
}
@media screen and (max-width: 595px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .recipe {
            .img > img {
                height: 20vh;
                width: 50vw;
            }
        }
        .lorem {
            width: 50vw;
        }
        .name {
            width: 50vw;
        }
        .view {
            width: 50vw;
        }
    }
}
@media screen and (min-width: 1510px) {
    .card {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-right: 100px;
        .recipe {
            .img > img {
                width : 15vw;
            }
        }
        .lorem {
            width: 15vw;
        }
        .name {
            width: 15vw;
        }
        .view {
            width: 15vw;
        }
    }
}
@media screen and (max-width: 477px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .recipe {
            .img > img {
                height: 20vh;
                width: 60vw;
            }
        }
        .lorem {
            width: 60vw;
        }
        .name {
            width: 60vw;
        }
        .view {
            width: 60vw;
        }
    }
}